@use "@material/image-list/mdc-image-list";

@use "@material/image-list";

.my-image-list {
  @include image-list.standard-columns(5);
}

.imgContainer{
  max-height: 70px;
  margin-bottom: 20%;
  // position: absolute;
  // right: 50%;
  // left: 50%;
}

.editButton{
  width: 8vw;
  position: absolute;
  left: 1vw;
}

.deleteButton{
  width: 8vw;
  position: absolute;
  right: 2vw;
}

.formFilter{
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.formFilter > * {
  text-align: center;
  margin: 5px;
}



.btnFavorites{
  margin: 2%;
}

.flex{
  display: flex;
}

.privateModeIcon{
  position: absolute;
  right: 10%;
}

.icon{
  font-size: 10vw;
}
app-image-full-display{
  min-width: 100px;
}