.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 40px;
    font-family: bold;
    margin: 20px;
}

li{
    font-size: 30px;
    margin: 40px;
}
.first{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}