
<div class="center">
<h1>About us!</h1>
<div class="title">App Goals</div>

<mat-divider></mat-divider>
<ul>
    <li>
        <span class="first">Save</span> your pictures in a concentrated place on your computer, that you can arrange in your own way.
    </li>
    
    <li>
        <span class="first">Describe</span> your pictures in yout own touch, with a Caption, GPS location and  Categories that you created
    </li>

    <li>
        <span class="first">Mark</span> your favorite pictures to show people 
    </li>
    <li>
        <span class="first">Private</span> mode is in your service 😉😉😉
       
     </li>
     <li>
      
        <span class="first">Choose</span> a password and any picture you want will be just for your eyes  
     </li>
</ul>
</div>