<mat-card class="card">

  <mat-card-header>
    <mat-card-title>{{imageDetails.caption}}</mat-card-title>
  </mat-card-header>
  <br/>
 
  <div>
    <div class="inCard star" *ngIf="imageDetails.isFavorite">
      <mat-icon>star</mat-icon>
    </div>
    <div class="inCard padding lock" *ngIf="imageDetails.inPrivateMode">
      <mat-icon>lock</mat-icon>
    </div>
    
    <img mat-card-image src="{{imageDetails.imgSrc}}" alt="image">
  </div>
  



  <mat-form-field>
    <mat-label>Categories</mat-label>
    <mat-select>
      <mat-option *ngFor="let category of imageDetails.categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />


  



</mat-card>