
#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
#video {
    background-color: #000000;
}
#canvas {
    display: none;
}
li {
    display: inline;
    padding: 5px;
}
#snap{
    width: 400px;
    height: 50px;
    
}

video{
    width: calc(100vw / 2);
    height: calc(100vh / 2);
}


img{
    width: calc(100vw / 6);
    height: calc(100vh / 6);
}