<div id="app">
    <div><video #video id="video"  autoplay></video></div>
    <button mat-raised-button color="primary" id="snap" class="btn btn-primary" (click)="capture()">
        Snap Photo
    </button> 
    <button mat-raised-button color="primary" id="snap" class="btn btn-primary" (click)="clearImages()">
        Try Again
    </button>   
    <canvas #canvas id="canvas" [width]="WIDTH" [height]="HEIGHT"></canvas>
    <ul>
        <li *ngFor="let c of captures">
            
            <img src="{{ c }}" (click)="uploadImage(c)" />
        </li>
    </ul>
</div>

